# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/
*.env
# Ignore audio output and logs
*.wav
*.mp3
*.log
*.onnx
timestamp.log
shrq_radio/output/
shrq_radio/data/dj_responses/
shrq_radio/data/music
dj_response_map.json

# Ignore system files
.DS_Store*.onnx

# Allowing the upload of Jingles for SHRQ Radio
!shrq_radio/jingles/shrq_cant_defund.mp3
!shrq_radio/jingles/shrq_dont_complain.mp3
!shrq_radio/jingles/shrq_strange_taste.mp3
!shrq_radio/jingles/shrq_tagline.mp3
!shrq_radio/jingles/shrq_hard_drive.mp3
!shrq_radio/jingles/shrq_warning.mp3
!shrq_radio/jingles/shrq_its_random.mp3
shrq_radio/TTS_tests/en_US-hfc_female-medium.onnx.json
.gitignore
shrq_radio/TTS_tests/en_US-joe-medium.onnx.json
shrq_radio/TTS_tests/en_US-lessac-high.onnx.json
.gitignore
