# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore audio output and logs
*.wav
*.mp3
*.log
*.onnx
timestamp.log
shrq_radio/output/
shrq_radio/data/dj_responses/
shrq_radio/data/music

# Ignore system files
.DS_Store